Desktop.ini    
.DS_Store 
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
builds
Minecraft Essentials v2.17.0 [1.21.100x]
Minecraft Essentials v2.17.0 [1.21.100x]/*
Realm Management Tool Resources (addon)
Realm Management Tool Resources (addon)/*
Essentials SMP! ADD-ON (addon)
Essentials SMP! ADD-ON (addon)/*/Minecraft Essentials v2.17.0 [1.21.100x]/
/ESSENTIALS SMP! ADD-ON (addon)/
Minecraft Essentials v2.17.0 [1.21.100x]/
ESSENTIALS SMP! ADD-ON (addon)/